.cont {
  display: flex;
  align-items: center;
  color: var(--tm-color-white);
  margin: 50px;
  flex-direction: column;
}
.infoName {
  background-color: var(--tm-color-light-black);
  display: flex;
  justify-content: center;
  align-content: center;
}
