.accordion{
    --bs-accordion-btn-bg: #101010;
    --bs-accordion-active-bg: #101010;
    --bs-accordion-active-color: #fff;
    --bs-accordion-color: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-color: #fff;
    --bs-accordion-bg: #101010;
    --bs-accordion-border-color: #101010;
    --bs-accordion-btn-color: #fff;
}

.custom {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
  }

  .custom input {
    display: none; 
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    background-color: #101010; 
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
    position: relative;
  }
  
  .custom input:checked + .checkbox {
    background-color: #c0ff01; 
    border-color: #c0ff01; 
  }
  .custom input:checked + .checkbox::after {
    content: '✔'; 
    left: 3px;
    position: absolute;
    font-size: 14px; 
    color: #101010; 
  }