.FilterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tm-color-white);
  width: 250px;
  justify-items: center;
}
.accordion {
  --bs-accordion-btn-bg: #101010;
  --bs-accordion-active-bg: #101010;
  --bs-accordion-active-color: #fff;
  --bs-accordion-color: #fff;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-color: #fff;
  --bs-accordion-bg: #101010;
  --bs-accordion-border-color: #101010;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-padding-y: 0px;
}
