.headerContainer {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding: 32px;
  
}

.logo {
  width: 300px;
  margin-left: 32px;
}

.shoping {
  width: 24px;
  height: 24px;
}

.headerCon {
  height: 100px;
  padding: 3%;
  background-color: #191a1b;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navHeader {
  display: flex;
  justify-content: center;
  
}
nav:hover {
  color: #c0ff01;
  transition: 0.1s linear;
}

.ulHeader {
  list-style: none;
  display: flex;
  align-items: center;
}

.liHeader {
  padding: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s linear;
}

a:hover {
  color: #c0ff01;
  transition: 0.1s linear;
}
