.breadcrumb {
  padding: 20px 0px 20px 200px;
}
.h1Comp {
  color: var(--tm-color-white);
  display: flex;
  justify-content: center;
}
.Computers {
  display: flex;
  flex-wrap: wrap;
}
.ContainerComp {
  display: flex;

  margin-right: 100px;
}
.Filter {
  margin: 50px 0px 10px 100px;
}
