.productItemContainer{
    width: 400px;
    height: 500px;
    padding: 50px;
    background-color: #212124;
    overflow: hidden;
    border-radius: 40px;
    transition: 1s;
    color: #fff;
    display: grid;
    
}
.rebz{
    font-size: 20px;
    color: #d3d7db;
}
.productItemContainer:hover{
    border: 1px solid #c0ff01;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px  #c0ff01, inset 0px 0px 10px #c0ff01 ;
}
.productImage{
    width: 300px;
    height: 300px;
    
}