.productUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.productLi {
  padding: 30px;
}
.product {
  margin: 100px;
}
.productName {
  display: flex;
  justify-content: center;
  color: var(--tm-color-white);
  font-weight: 700;
}
.spanGame {
  color: var(--tm-color-grey);
  padding-left: 10px;
}
