:root {
  --tm-color-lime: #c0ff01;
  --tm-color-light-lime: #dcff71;
  --tm-color-soft-lime: #ebffad;
  --tm-color-violet: #6046ff;
  --tm-color-purpur: #9074ff;
  --tm-color-light-black: #191a1b;
  --tm-color-card-black: #212124;
  --tm-color-dark-grey: #313233;
  --tm-color-grey: #6d7175;
  --tm-color-light-grey: #999898;
  --tm-color-dark-white: #d3d7db;
  --tm-color-white: #fff;
  --tm-color-error-red: #e97272;
  --tm-color-yellow-tag: #e3ff8d;
  --tm-color-violet-tag: #e3dcfd;
  --tm-color-green-tag: #c5ffb7;
  --tm-color-pink-tag: #ff8dfa;
  --tm-color-blue-tag: #9bd3f2;
}
