.formContainer{
display: grid;
justify-content: center;

}
.formName{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;

}
.formNameSpan{
    color: #6d7175;
    padding-left:10px ;
}
.formQuestion{
    width: 1000px;
    height: 450px;
    background-color: #212124;
    border-radius: 40px;
    transition: 1s;
    display: grid;
    justify-content: start;
    padding: 30px;
}
.formQuestion:hover{
    border: 1px solid #c0ff01;
    box-shadow: 0px 0px 30px  #c0ff01, inset 0px 0px 10px #c0ff01 ;
}


